<!--
<div>
<h3>Liste des utilisateurs:</h3>
<ul>
<li ng-repeat="user in users"> {{user.name}}, {{user.surname}}</li>
</ul>
</div>
-->



<div >
  <h3 class="Titre_all_users">Liste de tous les utilisateurs avec leurs n° d'identifiants, leurs NOM, Prénom, email (si elle existe):</h3>

  <p class="Paragraphe_all_users">
    Vous pouvez filtrer la liste de tous les utilisateurs (Users) en insérant l'identifiant ou une à plusieurs lettres d'un nom, prénom ou même
    email.
    <br>
    Il n'y a pas besoin de connaître les utilisateurs pour filtrer la liste.
    <br>
    Essayez de taper pour commencer une lettre et vous verrez la liste qui tend à diminuer.
    <br>
    Pour retrouver toutes la liste des projets par défaut, après avoir filtré, effacez tout simplement les caractères que vous avez
    insérés dans la barre de filtre.
    <br>
    <br>
    <br>
    Il est possible également de supprimer un projet de 2 manières différentes :
  <ul class="Paragraphe_all_users">
    <li>soit vous cherchez dans la liste complète, l'utilisateur que vous voulez supprimer et vous cliquez sur le bouton "supprimer
      l'utilisateur filtré" qui est situé sur la même ligne que les informations concernant l'utilisateur considéré</li>
    <li>soit vous filtrez l'utilisateur à l'aide de la barre de saisie et vous cliquez sur le bouton "supprimer
      l'utilisateur filtré" qui est situé sur la même ligne que les informations concernant l'utilisateur considéré</li>
  </ul>
  <br>
  <br>
  <br>
  <h3 class="Paragraphe_all_users">Il est possible également de modifier les informations d'un utilisateur</h3>
  <p>Pour cela il suffit de cliquer sur le bouton "modification de l'utilisateur" situé sur la même ligne que les informations concernant l'utilisateur considéré.
  <br> Pour éviter de scroller indéfiment, nous vous conseillons de cliquer sur le bouton "Cacher la liste entièrement" afin
  de voir apparaitre le formulaire de modification de l'utilisateur que vous voulez modifier</p>

  <table class ="Tableau_boutons">
      <tr>
        <td>
          <button ng-click="toggle()"><span ng-bind="Cach_Affic"></span> la liste entièrement</button>
        </td>
      </tr>
    <tr>
      <td colspan="2" ><p ng-hide="myVar"><input type="text" ng-model="test"></p></td>

    </tr>
  </table>



  <table class ="Liste_des_utilisateurs" ng-hide="myVar"  >
    <tr>
      <!--<td>n°</td> -->
      <td class = "Nom_tableau_users">Indice</td>
      <td class = "Nom_tableau_users">n° identifiant</td>
      <td class = "Nom_tableau_users">NOM</td>
      <td class = "Nom_tableau_users">Prénom</td>
      <td class = "Nom_tableau_users">Email</td>
      <td class = "Nom_tableau_users">Adresse site web</td>
      <td class = "Nom_tableau_users">Cliquez-ici pour supprimer un utilisateur</td>
      <td class = "Nom_tableau_users">Cliquez-ici pour modifier un utilisateur</td>
      <td class = "Nom_tableau_users">Projets associés aux rôles</td>

    </tr>
    <tr ng-repeat="user in users | filter:test " >
      <td>{{ $index + 1 }}</td>
      <td> {{ user.id }}</td>
      <td>{{ user.name }} </td>
      <td>{{user.surname}}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.website }}</td>
      <td><button ng-click="supressionUser(user.id, $index)"> Supprimer l'utilisateur filtré</button></td>
      <td><button ng-click="recuperationUser(user.id, user.name, user.surname, user.email, user.website)">Modification de l'utilisateur</button></td>
      <td class = "role_et_projet">
        <ul >
          <li ng-repeat="role in Roles | filter:user.id" >
            Role : {{ role.name }} -
            <span ng-repeat="projet in Projects | filter:role.ProjectId">
              Titre du projet : {{projet.title}}
            </span>
          </li>
        </ul>
      </td>
      <!--
      <td><button ng-click="RechercheRoleForUser(user.id, user.name, user.surname, user.email, user.website)">Afficher les roles de cet utilisateur</button></td>
    -->
    </tr>
  </table>
  <!--
  <div>
    <p ng-show="rechercheRoleEstVrai">
      Nom : {{name}}
      Prénom : {{surname}}
      <table>
        <tr ng-repeat="role in namesRoles">
          <td>{{role.name}}</td>
        </tr>
      </table>
    </p>
  </div>
  -->
</div>

  <div ng-init="modificationclique=true" ng-hide="modificationclique">
  <h3 class="Titre_all_users">Modification de l'utilisateur filtré:</h3>

  <form name="reviewForm">
    <!--  Live Preview -->
    <blockquote>
      <strong>Création d'un utilisateur</strong>

      <cite class="clearfix">Vous avez plusieurs champs à remplir notammment le NOM, le prénom, l'adresse mail(falcultative) et le website(falcultatif).
        Vous avez également deux champs à selectionner : les projets pour lesquels l'utilisateur a bénéficié ainsi que ses rôles dans ses projets</cite>
    </blockquote>

    <!--  Review Form -->
    <h4>NOM</h4>
    <fieldset class="form-group">
      <input type="name" class="form-control" placeholder="Nom" title="NOM" ng-model="name"/>
    </fieldset>
    <h4>Prénom</h4>
    <fieldset class="form-group">
      <input type="prenom" class="form-control" placeholder="Prénom" title="Prénom" ng-model="surname"/>
    </fieldset>
    <h4>Email</h4>
    <fieldset class="form-group">
      <input type="email" class="form-control" placeholder="NOMPrénom@example.org" title="Email" ng-model="email"/>
    </fieldset>
    <h4>Website</h4>
    <fieldset class="form-group">
      <input type="website" class="form-control" placeholder="www.example.com" title="Website" ng-model="website"/>
    </fieldset>
    <h4>Selection des rôles</h4>
    <fieldset class="form-group">
      <select ng-model="roles" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Rôles">
        <option value="">rôle 1</option>
        <option value="">rôle 2</option>
        <option value="">rôle 3</option>
        <option value="">rôle 4</option>
      </select>
    </fieldset>
    <h4>Selection des projets</h4>
    <fieldset class="form-group">
      <select ng-model="projects" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Projects">
        <option value="">projet 1</option>
        <option value="">projet 2</option>
        <option value="">projet 3</option>
        <option value="">projet 4</option>
      </select>
    </fieldset>

    <fieldset class="form-group">
      <input type="submit" class="btn btn-primary pull-right" ng-click="modificationUser( nom, prenom, email, website)" value="Modifier l'utilisateur" />

    </fieldset>
  </form>
  </div>




