
<div>
  <h3 class="Titre_all_projects">Liste de tous les projets (Projects) avec leurs n° d'identifiants, leurs titres, leurs
  descriptions et l'année de création du projet :</h3>

  <p class="Paragraphe_all_projects">
    Vous pouvez filtrer la liste de tous les projets (Projects) en insérant l'identifiant ou une à plusieurs lettres du titre,
    description ou même l'année de création.
    <br>
    Il n'y a pas besoin de connaître les projets pour filtrer la liste.
    <br>
    Essayez de taper pour commencer une lettre et vous verrez la liste qui tend à diminuer.
    <br>
    Pour retrouver toutes la liste des projets par défaut, après avoir filtré, effacez tout simplement les caractères que vous avez
    insérés dans la barre de filtre.
    <br>
    <br>
    <br>
    Il est possible également de supprimer un projet de 2 manières différentes :
    <ul class="Paragraphe_all_projects">
        <li>soit vous cherchez dans la liste complète le projet que vous voulez supprimer et vous cliquez sur le bouton "supprimer
        le projet filtré" qui est situé sur la même ligne que les informations concernant le projet considéré</li>
        <li>soit vous filtrez le projet à l'aide de la barre de saisie et vous cliquez sur le bouton "supprimer
          le projet filtré" qui est situé sur la même ligne que les informations concernant le projet considéré</li>
    </ul>
  </p>

  <table class ="Tableau_boutons">
    <tr>
      <td>
        <button ng-click="toggle()"><span ng-bind="Cach_Affic"></span> la liste entièrement</button>
      </td>
    </tr>
    <tr>
      <td colspan="2" ><p ng-hide="myVar"><input type="text" ng-model="test" ></p></td>

    </tr>
  </table>


  <table class ="Liste_des_projects" ng-hide="myVar">
    <tr>
      <td class = "Nom_tableau_projects">indice</td>
      <td class = "Nom_tableau_projects">n° identifiant</td>
      <td class = "Nom_tableau_projects">année de création</td>
      <td class = "Nom_tableau_projects">titre</td>
      <td class = "Nom_tableau_projects">description</td>
      <td class = "Nom_tableau_projects">cliquez-ici pour supprimer un projet</td>
      <td class = "Nom_tableau_projects">cliquez-ici pour modifier un projet</td>
    </tr>
    <tr ng-repeat="project in projects | filter:test ">
      <td>{{ $index + 1 }}</td>
      <td> {{ project.id }}</td>
      <td>{{ project.year }}</td>
      <td>{{ project.title }} </td>
      <td>{{ project.description}}</td>
      <td><button ng-click="supressionProject(project.id, $index)"> Supprimer le projet filtré</button></td>
      <td><button ng-click="recuperationProject(project.id, project.title, project.description, project.year)">Modification du projet</button></td>


    </tr>
  </table>

</div>

  <div ng-init="modificationclique=true" ng-hide="modificationclique">
  <h3 class="Titre_all_users"  >Modification du projet filtré:</h3>

  <form name="reviewForm">
    <!--  Live Preview -->
    <blockquote>
      <strong>Modification d'un projet</strong>

      <cite class="clearfix">Vous avez plusieurs champs à modifier.
        </cite>
    </blockquote>

    <!--  Review Form -->
    <h4>Titre</h4>
    <fieldset class="form-group">
      <input type="titre" class="form-control" placeholder="Titre" title="titre" ng-model="title"/>
    </fieldset>
    <h4>Description</h4>
    <fieldset class="form-group">
      <input type="description" class="form-control" placeholder="Description" title="description" ng-model="description"/>
    </fieldset>
    <h4>Année de création du projet</h4>
    <fieldset class="form-group">
      <input type="date" class="form-control" placeholder="date" title="Email" ng-model="year"/>
    </fieldset>
    <h4>Selection des rôles</h4>
    <fieldset class="form-group">
      <select ng-model="roles" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Rôles">
        <option value="">rôle 1</option>
        <option value="">rôle 2</option>
        <option value="">rôle 3</option>
        <option value="">rôle 4</option>
      </select>
    </fieldset>
    <h4>Selection des utilisateurs</h4>
    <fieldset class="form-group">
      <select ng-model="utilisateurs" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Projects">
        <option value="">utilisateur 1</option>
        <option value="">utilisateur 2</option>
        <option value="">utilisateur 3</option>
        <option value="">utilisateur 4</option>
      </select>
    </fieldset>

    <fieldset class="form-group">
      <input type="submit" class="btn btn-primary pull-right" ng-click="modificationProject( title, description, year)" value="Modifier le projet" />

    </fieldset>
  </form>

  </div>

