<h1>A propos du projet </h1>

<h2>But synthétique du projet :</h2>

<p>Gestion d'un annuaire de profiles via un service REST: <a href="http://poo-ihm-2015-rest.herokuapp.com/api/Projects" target="_blank" title="Serveur Rest" ><img src="../images/bd.png"> </a> (l'image est cliquable et envoit sur les Projects).
<ul>
  <li>Utilisateurs, Projets, Roles</li>
  <li>Créations, Modification, Suppression d'éléments</li>
  <li>Affichage: liste, filtre, tri, recherche</li>

</ul>
</p>

<h2>Ce que mon application est capable de faire :</h2>

<p>Mon application Angular "Gestion d'un annuaire de profiles" est d'interagir avec le service REST <a href="http://poo-ihm-2015-rest.herokuapp.com/api/Users" target="_blank" title="Serveur Rest" ><img src="../images/bd.png"> </a> (l'image est cliquable et envoit sur les Users).
Elle est capable les actions suivantes pour les Utilisateurs et les Projets :
<ul>
  <li>On peut créer un utilisateur ou un projet en remplissant un formulaire avec les informations correspondantes</li>

  <li>On peut afficher/masquer la liste de tous les utilisateurs et de tous les projets</li>
  <li>On peut mettre à jour les utilisateurs et les projets</li>
  <li>On peut supprimer un/des utilisateurs ou un/des projets</li>
  <li>On peut rechercher un utilisateur ou un projet parmi la liste de tous les utilisateurs et des projets</li>
  <ul>
      <li>La visualisation d'un utilisateur permet de voir les projets auxquelles celui-ci à participer et son rôle</li>
      <li>La visualisation d'un projet permet de voir les utilisateurs et leurs rôle dans ce projet</li>
  </ul>

</ul>

</p>
<p>Remarque : Vous avez sûrement constaté le mélange anglais-français. En espérant que celui-ci ne sera pas si dérangeant.
C'est pour mieux faire le lien entre le nom des pages .html qui sont en anglais.</p>
