<div class="jumbotron">
  <h2>Bienvenue sur la page du projet d'IHM d'Application Web !  </h2>
  <p class="lead">
    <img src="../images/BD.png" alt="I'm BD"><br>
    Dans ce projet, nous allons utiliser tous les outils mis à notre disposition afin de pouvoir gérer un annuaire
    de profils d'utilisateurs, de projets et de rôles.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<br class="row marketing">
  <h3>Outils principaux utilisés pour réaliser ce projet</h3>

  <h3>HTML5 Boilerplate <img src="../images/html5.png" alt="I'm HTML"></h3>
  <p>
    L’HyperText Markup Language est le format de données conçu pour représenter les pages web.
    C’est un langage de balisage permettant d’écrire de l’hypertexte. HTML permet également de structurer
    sémantiquement et de mettre en forme le contenu des pages, d’inclure des ressources multimédias dont des images,
    des formulaires de saisie, et des programmes informatiques.
    <br>
    <br>
    Pour le projet, HTML est le langage qui va permettre d'écrire le contenu de nos différentes pages web.
    Ces pages seront les vues.
  </p>

  <h3>CSS <img src="../images/css.png" alt="I'm HTML"></h3>
  <p>
    Cascading Style Sheets est un langage informatique qui décrit la présentation des documents HTML et XML.
    Les standards définissant CSS sont publiés par le World Wide Web Consortium (W3C).
    <br>
    <br>
    Pour le projet, CSS est le langage qui va permettre de décrire la présentation de nos vues.
  </p>
  <h3>JavaScript <img src="../images/js.png" alt="I'm Js"></h3>
  <p>
    JavaScript est un langage de programmation de scripts principalement employé dans les pages web interactives
    mais aussi pour les serveurs.
    <br>
    <br>
    Pour le projet, JS est le langage qui va permettre d'écrire les controleurs qui feront le lien entre les vues
    et les modèles (Utilisateurs, Projets, Rôles).
  </p>

  <h3>Angular <img src="../images/angular.png" alt="I'm Angular"></h3>
  <p>
    AngularJS est un framework JavaScript libre et open-source2 développé par Google. Il est fondé sur l’extension
    du langage HTML par de nouvelles balises
  </p>

  <h3>Karma <img src="../images/karma.png" alt="I'm Karma"></h3>
  <p>Karma est un lanceur de tests Javascript, créé par l’équipe de développement du framework AngularJS.
    <br>
    <br>
    Pour le projet, Karma va nous permettre de tester de façon efficace l'ensemble de notre application.

  </p>

  <h3>Bower <img src="../images/bower.png" alt="I'm Bower"></h3>
  <p>Bower est un gestionnaire de dépendances web
  </p>

  <h3>npm <img src="../images/npm.png" alt="I'm npm"></h3>
  <p>npm est le gestionnaire de paquets officiel pour Node.js</p>

  <h3>node.js<img src="../images/nodejs.jpeg" alt="I'm node.js"></h3>
  <p>Node.js est une plateforme logicielle libre et évènementielle en JavaScript orientée vers les applications réseaux.
    Elle utilise la machine virtuelle V8 de Google.</p>

  <h3>Yeoman <img src="../images/yeoman.png" alt="I'm Yeoman"></h3>
  <p>Yeoman permet de démarrer un projet en quelques secondes, compiler automatiquement les fichiers,
    détecter les erreurs Javascript, démarrer un serveur de dev, recharger la page lorsqu’une modification est détectée,
    optimiser les images, minifier tous les fichiers (javascript, css, html), gérer les dépendances, lancer des tests,
    <br>
    <br>
    Pour le projet, Yeoman est la structure de base de notre projet.
  </p>


</div>
